[package]
name = "demo"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "demo"
path = "src/main.rs"

[dependencies]
spark = { path = "../../crates/spark" }
env_logger = { workspace = true }
log = { workspace = true }

