[package]
name = "demo"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "demo"
path = "src/main.rs"

[dependencies]
sikhar = { path = "../../crates/sikhar" }
env_logger = { workspace = true }
log = { workspace = true }

